/* pingpong_3D/style.css */

#gameCanvas3D {
	width: 100%;
	height: 100%;
	display: block;
	touch-action: none;
	position: relative !important;
	z-index: 9999 !important;
	pointer-events: auto !important;
}

#game-container-3d {
	position: relative;
	width: 100%;
	height: 100%;
}

#game-ui-3d {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	gap: 10px;
	z-index: 10000;
}

#game-ui-3d button {
	background: #fff;
	color: #000;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 8;
	cursor: pointer;
}
