/* pingpong_3D/style.css */

html, body {
	width: 100%;
	height: 100%;
}

#gameCanvas3D {
	width: 100%;
	height: 100%;
	display: block;
	touch-action: none;
	position: relative !important;
	z-index: 9999 !important;
	pointer-events: auto !important;
}

#game-container-3d {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#game-ui-3d {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	gap: 10px;
	z-index: 10000;
}

#game-ui-3d button {
	background: #fff;
	color: #000;
	padding: 4px 10px;
	font-size: 0.8rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #f77001;
	cursor: pointer;

	transition:
		box-shadow 0.15s ease,
		border-color 0.15s ease,
		transform 0.1s ease,
		background-color 0.15s ease;
}

#btn-3d-reset.btn-disabled {
	opacity: 0.4;
	cursor: not-allowed;
	pointer-events: none;
}

button:not(.btn-disabled):hover {
	border-color: #00e5ff;
	box-shadow: 
		0 0 6px rgba(0, 229, 255, 0.8),
		0 0 12px rgba(0, 229, 255, 0.5);
	background: rgba(30, 30, 30, 0.95);
	transform: translateY(-1px);
}
