/* src/pages/home/style.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  margin-bottom: 50px;
  font-size: 4rem;
  letter-spacing: 4px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-family: "Bebas Neue", sans-serif;
}
