/* src/pages/home/style.css */
.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-user {
  align-self: flex-start;
  margin-left: 24px;
  margin-bottom: 16px;
  color: #cfcfcf;
  font-size: 0.9rem;
  letter-spacing: 0.06em;
}
