openapi: 3.0.3
info:
  title: Fastify demo API
  description: The official Fastify demo API
  version: 0.1.0
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        password:
          type: string
        salt:
          type: string
      required:
        - id
        - name
        - password
        - salt
    Users:
      type: array
      items:
        type: object
        properties:
          id:
            type: number
          name:
            type: string
          password:
            type: string
          salt:
            type: string
        required:
          - id
          - name
          - password
          - salt
paths: {}
