/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}
canvas {
  background: #111;
  border: 2px solid #00ffcc;
  border-radius: 8px;
}

.auth-screen {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center, #1c1c1c, #0b0b0b);
}

.center-screen {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
